<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>	
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	
	<!-- 别名 -->
	<typeAliases>
		
		<typeAlias type="mx.spring.test.data.entity.UserEntity" alias="UserEntity" />		
		
		<typeAlias type="mx.spring.test.data.entity.PagerInfo" alias="PagerInfo" />	
		
		<typeAlias type="mx.spring.test.data.entity.TaskEntity" alias="TaskEntity" />
			
		<typeAlias type="mx.spring.test.data.entity.ResultEntity" alias="ResultEntity" />		
				
		<typeAlias type="mx.spring.test.data.entity.BuildingEntity" alias="BuildingEntity" />				
				
		<typeAlias type="mx.spring.test.data.entity.PostionEntity" alias="PostionEntity" />
				
	</typeAliases>
	
</configuration>